<div class="article-list">
	{% for article in articles %}
		<div class="article">
			<h3 class="article-titre">Titre</h3>
			<div class="article-content">
				Contenu
			</div>
		</div>
	{% endfor %}
</div>